body{
    background-color: rgb(56, 3, 149);
    font-family: sans-serif;
}

.caja-principal{
    background-image: linear-gradient(black,rgb(58, 58, 58));
    border-radius: 40px;
    width: 300px;
    height: 430px;
    display: flex;
    align-content: center;
    margin: 30px auto;
    flex-direction: column;
    padding: 20px;
    box-shadow: 24px 12px 24px rgb(23, 24, 47);
}

.titulo{
    flex-direction: row;
    font-size: 21px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    color: aliceblue;
}

.leds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.led{
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.botones{
    background-color: white;
    background-image: url('corchea.png');
    background-position: center;
    background-size: 40px;
    filter: invert(100%);
    background-repeat: no-repeat;
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 10px;
    
}

.btn1{
    border: 1px solid rgb(162, 203, 15);
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    width: 80px;
    height: 80px;
    color: white;
    background-image: url('forma1.png');
    background-position: center;
    background-size: 66px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .2s;
    background-color: white;
}

.btn2{
    border: 1px solid rgb(162, 203, 15);
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    width: 80px;
    height: 80px;
    color: white;
    background-image: url('forma2.png');
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
    background-color: white;
}

.btn3{
    border: 1px solid rgb(162, 203, 15);
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    width: 80px;
    height: 80px;
    color: white;
    background-image: url('forma3.png');
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
    background-color: white;
}

.btn4{
    border: 1px solid rgb(162, 203, 15);
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    width: 80px;
    height: 80px;
    color: white;
    background-image: url('forma4.png');
    background-position: center;
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
    background-color: white;
}

